<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>microservice</title>
    <style>
        .content {font-family: "Lucida Console", Courier, monospace;}
    </style>
</head>
<body>
<div class="content">
    <h1>microservice</h1>
        <p>See below list for available actions.</p>
        <h2><em>POST</em> /auth</h2>
        <p>Plain request, returns authentication code <code>'Bearer'</code></p>
        <h3>Response:</h3>
        <code>{"Bearer": &lt;token&gt;}</code>
        <h2><em>POST</em> /add</h2>
        <ul>
            <li>requires Header: Bearer token</li>
            <li>below data should be in body of request</li>
        </ul>
        <code>{"name": &lt;product name&gt;, "description": &lt;text&gt;}</code>
        <h3>Response:</h3>
        <ul>
            <li>Original response from <em>offers api</em> if successful (the product id)</li>
            <li>Error message if product (based on unique name, or description) exists in database.</li>
        </ul>
        <h2><em>PUT</em> /update</h2>
         <ul>
            <li>requires Header: Bearer token</li>
            <li>below data (now with product id) should be in body of request</li>
         </ul>
             <code>
                 {"id": 2,"name": "Brýle Coochie","description": "Plyšové brýle"}
             </code>
             <h3>Returns</h3>
                <ul>
                    <li>Full listing of changed item
                     <code>{"item": {"description": "Plyšové brýle","id": 2,
                    "name": "Brýle Coochie"} }</code></li>
                    <li>Error message if any inconsistency in provided data (e.g. non existing product)</li>
                </ul>
        <h2><em>DELETE</em> /&lt;id&gt;/delete</h2>
            <ul>
                <li>Again, authentication Header with Bearer token is required</li>
                <li>no json data required as <em>id</em> already provided</li>
            </ul>
        <h3>Response:</h3>
        <code>{"item":
            { "description": "Mučící nástroj inspirovaný dětským hlavolamem.", "id": 1, "name": "Roubíkova kostka"},
            "msg": "Product id: 1 deleted."}</code>
    <h2><em>GET</em> /products</h2>
    <p>Requires authentication Bearer, lets you list all products</p>
    <h3>Response:</h3>
    <code>
        {
    "products": [
        {
            "description": "Klasická nenapařovací žehlička",
            "id": 1,
            "name": "Žehlička Teta"
        },
        {
            "description": "Pletená plyšová kočička.",
            "id": 2,
            "name": "Knitting Kitty"
        }
    ]
}  </code>
        <h2><em>GET</em> /&lt;product_id&gt;/detail</h2>
        <p>Requires authentication Bearer, lists all offers for particular product</p>
        <h3>Response:</h3>
        <code>
            {
            "offers": [
        {
            "id": 1,
            "items_in_stock": 0,
            "price": 1203,
            "timestamp": "Fri, 10 Jul 2020 08:37:51 GMT",
            "vendor_id": 16962
        },
        {
            "id": 2,
            "items_in_stock": 15,
            "price": 1206,
            "timestamp": "Fri, 10 Jul 2020 08:37:51 GMT",
            "vendor_id": 16959
        }]
            "product": {
        "description": "Klasická nenapařovací žehlička",
        "id": 1,
        "name": "Žehlička Teta"
    }
            }
        </code>
        </div>

</body>
</html>